.banner{
    display: grid;
    gap: 30px;
    margin-block: 120px;
}
.footer{
    background-color: var(--darkgray);
    display: grid;
    place-items: center;
    gap: 20px;
    padding-block: 30px;
}
.footer figure img{
    filter: var(--logo-filter);
}
.footer ul{
    list-style: none;
    padding-left: 0;
    text-align: center;
    
}
.footer__social{
    display: flex;
    gap: 15px;

}
.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--lightgray);
}