.perks{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    place-items: center;
    gap: 30px;
}
.card{
    max-width: 350px;
    display: grid;
    place-items: center;
    gap: 20px;
}
.card header{
    font-size: 20px;
}
.card p{
    text-align: center;
}
@media screen and (min-width:1120px) {
    .perks{
        max-width: 1120px;
        margin-inline: auto;
    }
}